name: Deploy Backend Node App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          cd ~/apps/point-back
          npm install

      - name: Build project
        run: |
          cd ~/apps/point-back
          npm run build

      - name: Start or restart app with PM2
        run: |
          cd ~/apps/point-back
          pm2 restart tienda-backend || pm2 start dist/index.js --name tienda-backend
