name: Deploy Backend Node App

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          npm install

      - name: Build project
        run: |
          npm run build

      - name: Start or restart app with PM2
        run: |
          pm2 restart tienda-backend || pm2 start dist/index.js --name tienda-backend -- start

