name: Deploy Node App to WSL

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.WSL_HOST }}
          username: ${{ secrets.WSL_USER }}
          key: ${{ secrets.WSL_SSH_KEY }}
          script: |
            cd ~/apps/point-back
            git pull origin main
            npm install
            npm run build
            pm2 delete point-back || true
            pm2 start dist/index.js --name point-back --update-env
